{% extends 'base.html.twig' %}

{% block main %}
    <h1 class="mt-5 ms-3 text-success h1 fw-light">Bienvenido a Veredeportes</h1>
    <div class="mb-5 ms-3" style="width: 80%;">
        <p class="h4 mt-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa libero ab officiis iste odio laborum temporibus incidunt voluptatum eos minus?</p>
        <p class="h4 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi enim voluptate consectetur minus corrupti aut quae voluptatum illum sit! Consequuntur amet velit quo eius vel ad non, quod quisquam fuga ipsum placeat, molestiae ipsam dignissimos, provident voluptatem mollitia aut repellendus suscipit recusandae autem repellat fugit iure eaque nemo. Nulla, consequuntur!</p>
        <p class="h4 mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, adipisci!</p>
    </div>
{% endblock %}