.container{
    max-width:500px;
}

a[class|="caixa"]{
    position:static;
    display:inline-block;
    text-decoration:none;
    width:100px;
    height:100px;
    margin:10px;
    padding:10px;
    border:1px solid #666;
    background-color:#BB00BB;
    color:#ffffff;
}