$fuente: Arial, sans-serif;
$color: #f00;
$color_menu: #fff;
$color_enlaces: #000;
$fondo: #ccc;

html {
  background-color: $fondo;
}

body {
  font: 100% Arial, sans-serif;
  color: $color;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: $color_menu;
  }

  li {
    display: inline-block;
  }
  
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: $color_enlaces;
  }
}