html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cuerpo {
    flex: 1 0 auto;
    width: 100%;
}

.cuerpo * {
    font-size: 18px;
    text-align: center;
    color: inherit;
}

form {
    padding-top: 50px;
    margin: auto; 
}