<h5 *ngIf="partida.jugadores == 2" class="mb-3 mt-n4">Turno: <img src="{{turno}}" alt="{{partida.turno}}" height="10px" width="10px"></h5>

<div class="d-flex flex-wrap casillero position-relative">
    <div (click)="jugar(1)" class="casilla border-bottom border-end border-3 border-dark d-flex justify-content-center align-items-center">
        <img src="{{casilla1}}" width="90px" height="90px">
    </div>
    <div (click)="jugar(2)" class="casilla border-start border-bottom border-end border-3 border-dark d-flex justify-content-center align-items-center">
        <img src="{{casilla2}}" width="90px" height="90px">
    </div>
    <div (click)="jugar(3)" class="casilla border-start border-bottom border-3 border-dark d-flex justify-content-center align-items-center">
        <img src="{{casilla3}}" width="90px" height="90px">
    </div>
    <div (click)="jugar(4)" class="casilla border-bottom border-end border-top border-3 border-dark d-flex justify-content-center align-items-center">
        <img src="{{casilla4}}" width="90px" height="90px">
    </div>
    <div (click)="jugar(5)" class="casilla border border-3 border-dark d-flex justify-content-center align-items-center">
        <img src="{{casilla5}}" width="90px" height="90px">
    </div>
    <div (click)="jugar(6)" class="casilla border-start border-bottom border-top border-3 border-dark d-flex justify-content-center align-items-center">
        <img src="{{casilla6}}" width="90px" height="90px">
    </div>
    <div (click)="jugar(7)" class="casilla border-end border-top border-3 border-dark d-flex justify-content-center align-items-center">
        <img src="{{casilla7}}" width="90px" height="90px">
    </div>
    <div (click)="jugar(8)" class="casilla border-end border-top border-start border-3 border-dark d-flex justify-content-center align-items-center">
        <img src="{{casilla8}}" width="90px" height="90px">
    </div>
    <div (click)="jugar(9)" class="casilla border-top border-start border-3 border-dark d-flex justify-content-center align-items-center">
        <img src="{{casilla9}}" width="90px" height="90px">
    </div>
    <div id="cortina" class="cortina position-absolute top-0 start-0 {{pantalla}} justify-content-center align-items-center">
        <div *ngIf="!partida.finalizada" class="cargando spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div *ngIf="partida.finalizada" class="card d-flex justify-content-center">
            <h6 class="text-center m-5">{{resultado}}</h6>
            <button (click)="reiniciar()" class="mx-5 mb-5 btn btn-outline-danger px-3">Volver a Jugar</button>
        </div>
    </div>
</div>

