{% extends 'admin/administracion.html.twig' %}

{% block title %}Veredeporte - Administración{% endblock %}

{% block main %}

    <h1 class="text-capitalize text-success">traspasar reserva</h1>
    <div class="mt-3 d-flex flex-column card" style="min-height: 200px;">
        {% if admins %}
            {% for admin in admins %}
                <div class="p-2 row m-0 p-0" style="min-height: 70px;">
                    <div class="col d-flex justify-content-center align-items-center"><span class="text-capitalize">{{ admin.nombre }}</span></div>
                    <div class="col d-flex justify-content-center align-items-center">
                        <a class="btn btn-outline-primary" href="{{ path('app_traspasar_reserva',{idAdmin: admin.id, idReserva: idReserva}) }}">Traspasar</a>
                    </div>
                </div>
                <hr class="w-100 my-0">
            {% endfor %}
        {% else %}
            <div class="p-2 d-flex align-items-center">
                <span class="text-secondary">No hay profesores disponibles...</span>
            </div>
        {% endif %}
        </div>
    
{% endblock %}