{% extends 'equipo/equipo.html.twig' %}

{% block title %}Veredeporte - Equipo{% endblock %}

{% block main %}

    <h3>Listado de equipos</h3>
    <div class="mt-3 d-flex card" style="min-height: 100px;">
        {% if equipos %}
        {% else %}
        {% endif %}
    </div>

{% endblock %}