{% extends 'base.html.twig' %}

{% block body %}

    <h1>Lista de usuarios</h1>
    {% if users is not empty %}
        {% for user in users %}
            <p>{{user.nombre}}({{user.email}})</p>
        {% endfor %}
    {% else %}
        <p>No hay usuarios todavia...</p>
    {% endif %}
{% endblock %}